<!DOCTYPE HTML>

<html lang="en">
   <head>
     <title>node.js Tests - Error</title>
   </head>

   <body>
     <a href="{{back_link}}">Back to previous</a>
     <h1>Error</h1>
     <p>{{error}}</p>
   </body>
</html>
