<!DOCTYPE HTML>

<html lang="en">
   <head>
     <title>node.js Tests</title>
   </head>

   <body>
     <h1>node.js Tests</h1>
     <p>This is where I will be experimenting with node.js.</p>
     <p>Eventually I will figure out this nonsense.</p>
     <p>You have seen this page <span id="amount">{{amount}}</span> times.</p>

     <h2>Test List</h2>
     <ul>
       <li><a href="/database-test">Database test</a></li>
     </ul>
   </body>
</html>
